body {
    font-family: 'Kanit', sans-serif; /* ใช้ฟอนต์ Kanit */
    background: url('BG.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; /* ปรับขนาดตัวหนังสือทั้งหมด */
}

.blur-bg {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.7);
    padding: 40px 40px 20px; /* ปรับ padding ด้านล่างให้เล็กลง */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 320px; 
    text-align: center;
}

p {
    margin-top: 10px; /* ลดระยะห่าง version */
    font-size: 12px;
}

img {
    margin-bottom: 20px; /* เพิ่มระยะห่างโลโก้ */
}

h3 {
    font-size: 22px; 
    margin-bottom: 20px; /* เพิ่มระยะห่างหัวข้อ */
    color: rgb(39, 37, 37);
}

.form-select, .form-control {
    font-size: 12px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 10px; /* เพิ่มระยะห่างช่องเลือก */
    line-height: 20px; /* ปรับความสูงของข้อความให้ตรงกลาง */
    vertical-align: middle; /* ทำให้ข้อความชิดกลางในแนวตั้ง */
}

.form-select:focus {
    outline: none; /* เอาขอบออกเมื่อเลือก */
    box-shadow: none; /* เอาเงาออกเมื่อเลือก */
}

.btn-custom {
    font-size: 14px; 
    padding: 5px; 
    background-color: rgb(54, 198, 144);
    color: white !important;
    border-radius: 5px;
    margin-top: 10px; /* เพิ่มระยะห่างระหว่างปุ่มกับฟอร์ม */
}

.btn-custom:hover {
    background-color: rgb(37, 138, 100);
    color: white !important; 
}

p {
    margin-top: 20px; /* เพิ่มระยะห่าง version */
    font-size: 10px;
}
